\:module(suggested-resources)
  .why-no-workie
    font-size: 101px

  .suggested-resource-container
    background: #f8f7f6
    border: 1px solid #cccaca
    width: 100%
    margin-bottom: 6px
    padding: 5px 10px
  .suggested-resource-row
    padding: 5px 0px
    border-bottom: 1px dotted #cccaca
    &:last-child
      border-bottom: none
