<h1 id="<%= css_module(:pages, :header) %>">Header</h1>
<% css_module("pages") do |pages| %>
  <p class="<%= pages.selector("paragraph") %>">Paragraph</p>
  <%= link_to "here", {}, class: pages.selector(:link) %>
<% end %>
